### BL_Flicker_Images_book dataframe

In [7]:
import numpy as np
import pandas as pd

In [62]:
# Upload the dataset
#pppppppppppppppppppppppppppppppppppp&&&&&&&&&&
gradesdf = pd.read_csv('python-data-cleaning-master/Datasets/BL-Flickr-Images-Book.csv')
gradesdf

# Drop the followings columns,
# Edition Statement, Corporate Author, Corporate Contributors, Former owner, Engraver, Issuance type and Shelfmarks
# gradesdf.drop(['Edition Statement','Corporate Author','Corporate Contributors','Former owner','Engraver',
#                          'Issuance type','Shelfmarks'],
# axis='columns', inplace=True)

# alternative way (more readable)
#pppppppppppppppppppppppppppppppppppp&&&&&&&&&&
columnsNames=['Edition Statement', 'Corporate Author', 'Corporate Contributors',
         'Former owner', 'Engraver', 'Issuance type', 'Shelfmarks']
gradesdf.drop(columns=columnsNames, inplace=True)
gradesdf

# Changing the index of a dataframe
#pppppppppppppppppppppppppppppppppppp&&&&&&&&&&
gradesdf['Identifier'].is_unique
# gradesdf.reset_index(inplace=True)
gradesdf.set_index('Identifier', drop=True, inplace=True) # drop by default is True
gradesdf


# play around
# gradesdf['Date of Publication'][480]
# #=> '1857'
# gradesdf.loc[480,'Date of Publication']
# #=> '1857'
# gradesdf[['Date of Publication']].loc[480].values[0]
# #=> '1857'
# gradesdf.loc[480]['Date of Publication']
# #=> '1857'

# Tidying up Fields in the Data
#pppppppppppppppppppppppppppppppppppp&&&&&&&&&&
import re
# # take(extract/group) only the first four numbers (the year)
gradesdf['Date of Publication'] = gradesdf['Date of Publication'].str.extract(r'^(\d{4})')
gradesdf['Date of Publication'].head()
# # change column type to numeric type
gradesdf['Date of Publication'] = pd.to_numeric(gradesdf['Date of Publication'])
# gradesdf['Date of Publication'].dtype

#pppppppppppppppppppppppppppppppppppp&&&&&&&&&&
# # Combining str Methods with NumPy to Clean Columns
# # clean the publication place
gradesdf['Place of Publication'] = np.where(gradesdf['Place of Publication'].str.contains('London'), 'London',
                                           np.where(gradesdf['Place of Publication'].str.contains('Oxford'), 'Oxford',
                                                    gradesdf['Place of Publication'].str.replace('-','')))
gradesdf['Place of Publication'].tail(6)

# play around اجتهاد  :) still need to learn the format of the titling more.
# gradesdf['Title'] = gradesdf['Title'].str.replace('[','')
# gradesdf['Title'] = gradesdf['Title'].str.replace(']','')
# gradesdf['Title'] = gradesdf['Title'].str.replace(r'(?<=.)+\s*By.*','')
# gradesdf['Title'] = gradesdf['Title'].str.replace(r'\.?','')



# gradesdf.head(60)
# gradesdf.loc[18173,'Title']

Identifier
4157862      NewcastleuponTyne
4158088                 London
4158128                  Derby
4159563                 London
4159587    Newcastle upon Tyne
4160339                 London
Name: Place of Publication, dtype: object

### univerisity_towns.txt dataframe

In [69]:
# Cleaning the Entire Dataset Using the applymap Function
#pppppppppppppppppppppppppppppppppppp&&&&&&&&&&
uni_town_list=[]
with open('python-data-cleaning-master/Datasets/university_towns.txt') as text:
    for line in text:
        if '[edit]' in line:
            state = line
        else:
            uni_town_list.append((state, line))

#pppppppppppppppppppppppppppppppppppp&&&&&&&&&&
# # change it to df
state_town_df = pd.DataFrame(uni_town_list, columns=['state','Region'])
state_town_df


#pppppppppppppppppppppppppppppppppppp&&&&&&&&&&
# clean it by using applymap (rotate over each element in the df)

def cleanit(item):
    if '(' in item:
        return item[:item.find('(')]
    elif '[' in item:
        return item[:item.find('[')]
    else:
        return item

state_town_df = state_town_df.applymap(cleanit)
state_town_df

         state          Region
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...             ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

### Olympic dataframe

In [73]:
#pppppppppppppppppppppppppppppppppppp&&&&&&&&&&
olympics = pd.read_csv('python-data-cleaning-master/Datasets/olympics.csv', skiprows=1, skipfooter=1)
olympics
# or we can use head=1 instead
#pppppppppppppppppppppppppppppppppppp&&&&&&&&&&
new_names =  {'Unnamed: 0': 'Country',
               '? Summer': 'Summer Olympics',
               '01 !': 'Gold',
               '02 !': 'Silver',
               '03 !': 'Bronze',
               '? Winter': 'Winter Olympics',
               '01 !.1': 'Gold.1',
               '02 !.1': 'Silver.1',
               '03 !.1': 'Bronze.1',
               '? Games': '# Games',
              '01 !.2': 'Gold.2',
               '02 !.2': 'Silver.2',
               '03 !.2': 'Bronze.2'}


olympics.rename(columns=new_names, inplace=True)
olympics

C:\Users\sahal\AppData\Local\Temp\ipykernel_5100\2728074354.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  olympics = pd.read_csv('python-data-cleaning-master/Datasets/olympics.csv', skiprows=1, skipfooter=1)

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17