### BL_Flicker_Images_book dataframe

In [6]:
import numpy as np
import pandas as pd

In [14]:
# Upload the dataset
gradesdf = pd.read_csv('python-data-cleaning-master/Datasets/BL-Flickr-Images-Book.csv')
gradesdf.head()

# Drop the followings columns,
# Edition Statement, Corporate Author, Corporate Contributors, Former owner, Engraver, Issuance type and Shelfmarks
# gradesdf.drop(['Edition Statement','Corporate Author','Corporate Contributors','Former owner','Engraver',
#                          'Issuance type','Shelfmarks'],
#                          axis='columns', inplace=True)

# alternative way (more readable)
gradesdf.drop(columns=['Edition Statement','Corporate Author','Corporate Contributors','Former owner','Engraver',
                         'Issuance type','Shelfmarks'], inplace=True)

# Changing the index of a dataframe
gradesdf['Identifier'].is_unique
# => True
gradesdf.set_index('Identifier', inplace=True)
# play around
# gradesdf.head().loc[480,'Date of Publication']
# #=> '1857'
# gradesdf.head()[['Date of Publication']].loc[480].values[0]
# #=> '1857'
# gradesdf.head().loc[480]['Date of Publication']
# #=> '1857'

# Tidying up Fields in the Data
import re
gradesdf.loc[1905:, 'Date of Publication'].head(20)
# take(extract/group) only the first four numbers (the year)
gradesdf['Date of Publication'] = gradesdf['Date of Publication'].str.extract(r'^(\d{4})')
# change column type to numeric type
gradesdf['Date of Publication'] = pd.to_numeric(gradesdf['Date of Publication'])

# Combining str Methods with NumPy to Clean Columns
# clean the publication place
gradesdf['Place of Publication'] = np.where(gradesdf['Place of Publication'].str.contains('London'), 'London',
                                           np.where(gradesdf['Place of Publication'].str.contains('Oxford'), 'Oxford',
                                                   gradesdf['Place of Publication'].str.replace('-',' ')))
# play around اجتهاد  :) still need to learn the format of the titling more.
gradesdf['Title'] = gradesdf['Title'].str.replace('[','')
gradesdf['Title'] = gradesdf['Title'].str.replace(']','')
gradesdf['Title'] = gradesdf['Title'].str.replace(r'(?<=.)+\s*By.*','')
gradesdf['Title'] = gradesdf['Title'].str.replace(r'\.?','')



gradesdf.head(60)
gradesdf.loc[18173,'Title']

C:\Users\sahal\AppData\Local\Temp\ipykernel_4596\2313778507.py:41: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  gradesdf['Title'] = gradesdf['Title'].str.replace('[','')
C:\Users\sahal\AppData\Local\Temp\ipykernel_4596\2313778507.py:42: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  gradesdf['Title'] = gradesdf['Title'].str.replace(']','')
C:\Users\sahal\AppData\Local\Temp\ipykernel_4596\2313778507.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  gradesdf['Title'] = gradesdf['Title'].str.replace(r'(?<=.)+\s*By.*','')
C:\Users\sahal\AppData\Local\Temp\ipykernel_4596\2313778507.py:44: FutureWarning: The default value of regex will change from True to False in a future version.
  gradesdf['Title'] = gradesdf['Title'].str.replace(r'\.?','')

'The Works of the late Right Honourable Joseph Addison, Esq  The third edition, etc Edited by Thomas Tickell: Works'

### univerisity_towns.txt dataframe

In [183]:
# Cleaning the Entire Dataset Using the applymap Function
uni_towns=[]
with open('python-data-cleaning-master/Datasets/university_towns.txt') as file:
    for line in file:
        if '[edit]' in line:
            state = line
        else:
            uni_towns.append((state, line))

# change it to df
townsdf = pd.DataFrame(uni_towns, columns=['State', 'Region'])
townsdf

# clean it by using applymap (rotate over each element in the df)
def cleanit(item):
    if ' (' in item:
        return item[:item.find('(')]
    elif '[' in item:
        return item[:item.find('[')]
    else:
        return item
townsdf = townsdf.applymap(cleanit)
townsdf

         State          Region
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...             ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]